
@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: CaviarDreamsB;
    src: url(fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: Gravity;
    src: url(fonts/Gravity-Light.otf);
}

@font-face {
    font-family: GravityB;
    src: url(fonts/Gravity-Bold.otf);
}


/* unvisited link */
a:link {
    color: #011538;
}

/* visited link */
a:visited {
    color: #011538;
}

/* mouse over link */
a:hover {
    color: #c49000;
}

/* selected link */
a:active {
    color: blue;
}


body{

  background-color: #2f2f2f/*rgb(1, 21, 56)*/;
  font-size: 20px;
  font-family: CaviarDreams, sans-serif;

}

.container{



}

#grafico{

        margin-top: 0px;
        margin-left: -200px;
        width: 1500px !important;
        height: auto !important;

}

#numeroLogicamed{

    grid-area:numero;

    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    margin-top: 20px;


}

#logoLogicamed{

    background-color: white;
    display: grid;
    grid-template-areas: "logo" "link" "numero" "frase";
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    box-shadow: 3px 3px 10px black;
    border-radius: 60px;
		position: fixed ;
		z-index: 100;
    width: 250px;
    right: 50px;
    bottom: 50px;

}

#logoLogicamed:hover > #numeroLogicamed, #logoLogicamed:hover > #linkLogicamed , #logoLogicamed:hover > #fraseLogicamed{

    display: block;

}

#logoLogicamed:hover{

    grid-template-rows: auto auto 140px 330px;
    margin-top: -450px;

}

#logoLogicamed img{

    grid-area: logo;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    width:auto;
    height:60px;
    margin: 20px;

}

#linkLogicamed{

    display: none;
    grid-area: link;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    margin-top: 20px;

}

#fraseLogicamed{

    text-align: center;
    font-family: CaviarDreamsB;
    display: none;
    grid-area: frase;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;

}

#caratteristicheAzienda{

  background-color: #383838;
  position: fixed;
  right: 50px;
  top:40px;
  width: auto;
  height:  120px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 3px 3px 10px black;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;

}

#logoAzienda{

  position: fixed;
  left: 50px;
  top:40px;

}

#immagineLogoAzienda{

  width: 120px;
  height:  120px;

  box-shadow: 3px 3px 10px black;

}
