/* unvisited link */
a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {

}



#intestazione{

  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;

  background-color: white;

  width: 100%;
  height: 160px;

  display: grid;
  grid-template-areas:"sinistra centro destra";
  grid-template-columns:  33% 33% 33%;
  align-items: center;
  justify-items: center;

}

#titolo{

  position: relative;

	grid-area:centro;

}

#immtitolo{

  width: 350px;
  height: 150px;

}



#corpo{

  position: relative;


  width: 100%;
  margin-top: 190px;
  display: grid;
  grid-template-areas: "primo secondo";
  grid-template-columns:  50% 50%;
  grid-row-gap: 40px;
  align-items: center;
  justify-items: center;

}

.app{

  text-decoration: none;

  position: relative;

  background-color: rgb(1, 21, 56);

  border-color: #c49000;
  border-width: 8px;
  border-radius: 100px;
  border-style: solid;

  width: 250px;
  height: 100px;

  user-select: none;
  cursor: pointer;

  filter: drop-shadow(5px 5px 2px black);

  transition: 0.1s ease-in-out;

}

.app:hover{

  border-radius: 20px;
  transform:  scale(1.1);

}

.txtapp{

  color: #c49000;

  font-size: 25px;
  font-family: arial;

  text-align: center;

}

#patrimonioUmanistico{

  	grid-area:primo;

}

#statoArte{

    grid-area:secondo;


}

@media only screen and (max-width: 600px) {
  #corpo{

    grid-template-areas: "primo" "secondo";
    grid-template-columns: 100%;

  }
}
